@model IEnumerable<ROQ.Services.ViewModels.UsersVM>

@{
    // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title float-left">Users</h4>
                <button type="submit" onclick="location.href='@Url.Action("Create", "Users")'" class="btn btn-primary float-right mt-0" style="margin-bottom: 10px;">New User</button>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmpNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmailID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MobileNo)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Gender)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BirthDate)
                                        </th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                    @if (Model.Count() == 0)
                                    {
                                        <tr><td>No Records found</td></tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EmpNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EmailID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MobileNo)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Gender)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BirthDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsActive)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "Users", new { id = item.ID })" class="fa fa-edit"></a>|
                                                    <span id="aDelete" data-ID="@item.ID" class=" aDelete fa fa-trash-alt"></span>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.aDelete').click(function () {
            var Id = $(this).attr('data-ID');
            var result = confirm("Are you sure,you want to delete the record");
            if (!result) {
                return false;
            }
            var url = '@Url.Action("Delete", "Users")' + "?ID=" + Id;
            $.ajax({
                type: 'GET',
                url: url,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    alert(response.Message);
                    if (response.code == "1") {
                        location.reload(true);
                    }
                },
                error: function (xhr, error, status) {
                    alert(error, status);
                }
            })
        });
    });

</script>

